@{
Layout = "_Layout";
}

  <body>
    <div class="container">
      <div class="jumbotron jumbotron-fluid">
      <h1>Enter a word and some text</h1><br>
      <form action="/wordcount" method="post">
         <label for="word"><h3>Word to count:</h3></label>
         <input id="word" name="word" type="text" required>
         <label for="sentence"><h3>Text to search:</h3></label>
         <input id="sentence" name="sentence" type="text" required><br><br>
         <!-- <div class="btn"> -->
           <button type="submit">Count!</button>
         <!-- </div> -->
       </form>
      </div>
    </div>
  </body>
