@{
Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
  <body>
      <h1>Enter a word to count and some text to check!</h1>
      <form action="/wordcount" method="post">
         <label for="word" >Word to count:</label>
         <input id="word" name="word" type="text" required>
         <label for="sentence">Text to search:</label>
         <input id="sentence" name="sentence" type="text" required>
         <button type="submit">Count!</button>
      </form>
  </body>
</div>
