
<div class="grid-manager">
    <div class="title">
        <h1>Word Counter</h1>
    </div>

    <div class="header">
        <h3>Your word appears @Model.CountWords() times!</h3>
    </div>
    <div class="content">
        <h4><a href="/wordcount/new">Again! Again!</a><h4>
    </div>
</div>
