@{
Layout = "_Layout";
}

<body>
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <h1>Welcome to Word Counter</h1>
      <p>Need to know how many times a word appears in some text?</p>
      <h2><a href="/wordcount/new">Get counting!</a></h2>
    </div>
  </div>
</body>
