@{
Layout = "_Layout";
}

<body>
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <h1>Welcome to Word Counter</h1>
      <h3>Need to know how many times a word appears in some text?</h3>
    <div class="btn">
    <a href="/wordcount/new">Get counting!</a>
    </div>
    </div>
  </div>
</body>
