
body {
  margin-bottom: 500px;
  background-image: url('/img/cover.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.jumbotron {
  margin-top: 80px;
  height: 325px;
  background-color: white;
  border-style: outset;
  font-family: serif;
  text-align: center;
}

.btn {
  font-size: 30px;
  margin-top: 50px;
  font-family: serif;
  background-color: lightpink;
  text-align: center;
  color: #007bff;
  width: 100%;
}

button {
  color: #007bff;
  background-color: white;
  border-style: none;
  font-size: 30px;
  width: 100%;
  background-color: lightpink;
  padding: 8px;
}
